h1,h2{
	font-family:serif;
	text-align:center;
	font-weight:bold;
	margin:;
	padding:;
	line-height:;
	background-color:#BA7BA1;
}

h1{
	font-size: 72pt;
	color:#EDCF8E;
	border:double;
}
h2{
	font-size:48pt;
	color:#DEC4A1;
	border:dotted;
}

div{
	font-family:;
	margin:;
	padding:;
	color:blue;
	line-height:;
	text-align:left;
}







letter-spacing:
letter-spacing:
letter-spacing:

background-color:;
background-color:;

margin:;

padding:;

border:;

border-radius:;
border-radius:;
z-index:;
z-index:;
z-index:;
background-image:;
max-height
max-width
min-height
min-width
@keyframes
@keyframes
@keyframes
animation-name:;
animation-name:;
animation-name:;
animation:;
animation-duration:;
animation-iteration-count:;
:hover 
::selection {}
cursor:;
cursor:;
a:link {}
a:visited {}
a:active {}
a:hover {}
