font-family:;
font-family:;
font-size:;
font-size:;
color:;
color:;
color:;
line-height:;
line-height:;
text-align:;
text-align:;
font-weight:;
letter-spacing:
letter-spacing:
letter-spacing:
background-color:;
background-color:;
background-color:;
margin:;
margin:;
margin:;
padding:;
padding:;
padding:;
border:;
border:;
border:;
border-radius:;
border-radius:;
z-index:;
z-index:;
z-index:;
background-image:;
max-height
max-width
min-height
min-width
@keyframes
@keyframes
@keyframes
animation-name:;
animation-name:;
animation-name:;
animation:;
animation-duration:;
animation-iteration-count:;
:hover 
::selection {}
cursor:;
cursor:;
a:link {}
a:visited {}
a:active {}
a:hover {}
